* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body {
    background: #081b29;
    color: #ededed
}

.header {


    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo {

    color: #ededed;
    font-weight: 600;
    font-size: 25px;
    text-decoration: none;

}

.navbar {

font-size: 18px;
font-weight: 500;
margin-left: 35px;
color: #ededed;
transition: .3s;
text-decoration: none;
}